<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 px-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img alt="Logo SMPComponentes" class="me-2" id="img_logo"
                                          src="/assets/logo.png">{{titulo}}</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto my-2 mb-lg-0">
        <li *ngIf="isLogin" class="nav-item me-2">
          <a [routerLink]="['/mis-configuraciones']" class="btn btn-success nav-item">
            <i class="fas fa-laptop-code"></i> Mis Configuraciones </a>
        </li>
        <li *ngIf="!isLogin" class="nav-item">
          <a [routerLink]="['/login']" class="btn btn-success nav-item"><i class="fas fa-sign-in-alt"></i> Iniciar
            Sesión </a>
        </li>
        <li *ngIf="isLogin" class="nav-item mt-2 mt-lg-0">
          <a (click)="logOut()" class="btn btn-danger nav-item">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-secondary m-0 p-0 py-lg-2">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a [routerLink]="['/configurador']" class="nav-link enlace" routerLinkActive="active">
            <i class="fas fa-laptop-medical"></i> Configura tu PC!</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/componentes']" class="nav-link enlace" routerLinkActive="active"><i
            class="fas fa-microchip"></i>
            Nuestros componentes</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/ordenadores']" class="nav-link enlace" routerLinkActive="active"><i
            class="fas fa-laptop-house"></i> Últimos ordenadores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

