<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{titulo}}</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLink]="['/configurador']" class="nav-link" routerLinkActive="active">Configura tu PC!</a>
        </li>
        <li class="nav-item dropdown">
          <a [routerLink]="['/componentes']" aria-expanded="false" class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown"
             id="navbarDropdown" role="button" routerLinkActive="active">
            Componentes
          </a>
          <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
            <li *ngFor="let categoria of categorias"><a [routerLink]="['/componentes/categoria', categoria.id]"
                                                        class="dropdown-item"
                                                        routerLinkActive="active">{{categoria.nombre}}</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input aria-label="Search" class="form-control me-2" placeholder="Buscar componente" type="search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
