<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{titulo}}</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLink]="['/configurador']" class="nav-link" routerLinkActive="active">Configura tu PC!</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/componentes']" class="nav-link" routerLinkActive="active">Componentes</a>
        </li>
        <li class="nav-item dropdown">
          <a href="" aria-expanded="false" class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown"
             id="navbarDropdownCategoria" role="button" routerLinkActive="active">
            Categorías
          </a>
          <ul aria-labelledby="navbarDropdownCategoria" class="dropdown-menu">
            <li *ngFor="let categoria of categorias"><a [routerLink]="['/componentes/categoria', categoria.id]"
                                                        class="dropdown-item">{{categoria.nombre}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="" aria-expanded="false" class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown"
             id="navbarDropdownFabricante" role="button" routerLinkActive="active">
            Fabricantes
          </a>
          <ul aria-labelledby="navbarDropdownFabricante" class="dropdown-menu">
            <li *ngFor="let fabricante of fabricantes"><a [routerLink]="['/componentes/fabricante', fabricante.id]"
                                                          class="dropdown-item">{{fabricante.nombre}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/ordenadores']" class="nav-link" routerLinkActive="active">Últimos ordenadores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
