<ul *ngIf="errores?.length > 0" class="alert alert-danger">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>

<div class="card bg-dark m-auto text-white mt-3 mb-5">
  <div class="card-header">
    <h3 class="text-center py-2">{{titulo}}</h3>
  </div>
  <div class="card-body ">
    <form #configuratorForm="ngForm">
      <div class="form-group row my-3">
        <label class="col-form-label col-md-2 offset-md-2" for="placaBase">
          Placa Base:
        </label>
        <div class="col-md-6">
          <input #placaBase="ngModel" [(ngModel)]="placaBaseLinea.componente" class="form-control" id="placaBase"
                 list="list_placaBase" name="placaBase" placeholder="Seleccione una placa base" required
                 (change)="placaBaseChange($event.target.value)">
          <datalist id="list_placaBase">
            <option *ngFor="let item of placaBaseComps" [value]="item.id">{{item.nombre}} --- {{item.precio |
              number:'1.2-2'}}€
            </option>
          </datalist>
          <div *ngIf="placaBase.invalid && (placaBase.dirty || placaBase.touched)" class="alert alert-danger">
            <div *ngIf="placaBase.errors.required">
              Debe indicar la placa base.
            </div>
          </div>
        </div>
        <div class="col-md-2 text-center text-sm-left ml-1">
          <p *ngIf="placaBaseLinea.componente != undefined">{{ placaBaseLinea.componente.nombre }}
            | <span class="badge bg-primary"> {{ placaBaseLinea.componente.precio | number:'1.2-2'}}€</span></p>
        </div>
      </div>

      <div class="form-group row my-3">
        <label class="col-form-label col-md-2 offset-md-2" for="procesador">
          Procesador:
        </label>
        <div class="col-md-6">
          <input #procesador="ngModel" [(ngModel)]="procesadorLinea.componente" class="form-control" id="procesador"
                 list="list_procesador" name="procesador" placeholder="Seleccione un procesador" required
                 (change)="procesadorChange($event.target.value)">
          <datalist id="list_procesador">
            <option *ngFor="let item of procesadorComps" [value]="item.id">{{item.nombre}} --- {{item.precio |
              number:'1.2-2'}}€
            </option>
          </datalist>
          <div *ngIf="procesador.invalid && (procesador.dirty || procesador.touched)" class="alert alert-danger">
            <div *ngIf="procesador.errors.required">
              Debe indicar el procesador.
            </div>
          </div>
        </div>
        <div class="col-md-2 offset-sm-0 text-center text-sm-left ml-1">
          <p *ngIf="procesadorLinea.componente != undefined">{{ procesadorLinea.componente.nombre }}
            | <span class="badge bg-primary"> {{ procesadorLinea.componente.precio | number:'1.2-2'}}€</span></p>
        </div>
      </div>

      <div class="form-group row my-3">
        <label class="col-form-label col-md-2 offset-md-2" for="tarjetaGrafica">
          Tarjeta Gráfica:
        </label>
        <div class="col-md-6">
          <input #tarjetaGrafica="ngModel" [(ngModel)]="tarjetaGraficaLinea.componente" class="form-control"
                 id="tarjetaGrafica" list="list_tarjetaGrafica" name="tarjetaGrafica"
                 placeholder="Seleccione una tarjeta grafica" required
                 (change)="tarjetaGraficaChange($event.target.value)">
          <datalist id="list_tarjetaGrafica">
            <option *ngFor="let item of tarjetaGraficaComps" [value]="item.id">{{item.nombre}} --- {{item.precio |
              number:'1.2-2'}}€
            </option>
          </datalist>
          <div *ngIf="tarjetaGrafica.invalid && (tarjetaGrafica.dirty || tarjetaGrafica.touched)"
               class="alert alert-danger">
            <div *ngIf="tarjetaGrafica.errors.required">
              Debe indicar la tarjeta grafica.
            </div>
          </div>
        </div>
        <div class="col-md-2 text-center text-sm-left ml-1">
          <p *ngIf="tarjetaGraficaLinea.componente != undefined">{{ tarjetaGraficaLinea.componente.nombre }}
            | <span class="badge bg-primary"> {{ tarjetaGraficaLinea.componente.precio | number:'1.2-2'}}€</span></p>
        </div>
      </div>

      <div class="form-group row my-3">
        <label class="col-form-label col-md-2 offset-md-2" for="memoriaRam">
          Memoria RAM:
        </label>
        <div class="col-md-6">
          <input #memoriaRam="ngModel" [(ngModel)]="memoriaRamLinea.componente" class="form-control" id="memoriaRam"
                 list="list_memoriaRam" name="memoriaRam" placeholder="Seleccione una memoria RAM" required
                 (change)="memoriaRAMChange($event.target.value)">
          <datalist id="list_memoriaRam">
            <option *ngFor="let item of memoriaRamComps" [value]="item.id">{{item.nombre}} --- {{item.precio |
              number:'1.2-2'}}€
            </option>
          </datalist>
          <div *ngIf="memoriaRam.invalid && (memoriaRam.dirty || memoriaRam.touched)" class="alert alert-danger">
            <div *ngIf="memoriaRam.errors.required">
              Debe indicar la memoria RAM.
            </div>
          </div>
        </div>
        <div class="col-md-2 text-center text-sm-left ml-1">
          <p *ngIf="memoriaRamLinea.componente != undefined">{{ memoriaRamLinea.componente.nombre }}
            | <span class="badge bg-primary"> {{ memoriaRamLinea.componente.precio | number:'1.2-2'}}€</span></p>
        </div>
      </div>

      <div class="form-group row my-3">
        <label class="col-form-label col-md-2 offset-md-2" for="fuenteAlim">
          Fuente de alimentación:
        </label>
        <div class="col-md-6">
          <input #fuenteAlim="ngModel" [(ngModel)]="fuenteAlimLinea.componente" class="form-control" id="fuenteAlim"
                 list="list_fuenteAlim" name="fuenteAlim" placeholder="Seleccione una fuente de alimentación" required
                 (change)="fuenteAlimChange($event.target.value)">
          <datalist id="list_fuenteAlim">
            <option *ngFor="let item of fuenteAlimComps" [value]="item.id">{{item.nombre}} --- {{item.precio |
              number:'1.2-2'}}€
            </option>
          </datalist>
          <div *ngIf="fuenteAlim.invalid && (fuenteAlim.dirty || fuenteAlim.touched)" class="alert alert-danger">
            <div *ngIf="fuenteAlim.errors.required">
              Debe indicar la fuente de alimentación.
            </div>
          </div>
        </div>
        <div class="col-md-2 text-center text-sm-left ml-1">
          <p *ngIf="fuenteAlimLinea.componente != undefined">{{ fuenteAlimLinea.componente.nombre }}
            | <span class="badge bg-primary">{{ fuenteAlimLinea.componente.precio | number:'1.2-2'}}€</span></p>
        </div>
      </div>

      <div class="form-group row my-3">
        <label class="col-form-label col-md-2 offset-md-2" for="discoDuro">
          Disco Duro:
        </label>
        <div class="col-md-6">
          <input [(ngModel)]="discoDuroLinea.componente" class="form-control" id="discoDuro" list="list_discoDuro"
                 name="discoDuro" placeholder="Seleccione un disco duro"
                 (change)="discoDuroChange($event.target.value)">
          <datalist id="list_discoDuro">
            <option *ngFor="let item of discoDuroComps" [value]="item.id">{{item.nombre}} --- {{item.precio |
              number:'1.2-2'}}€
            </option>
          </datalist>
        </div>
        <div class="col-md-2 text-center text-sm-left ml-1">
          <p *ngIf="discoDuroLinea.componente != undefined">{{ discoDuroLinea.componente.nombre }}
            | <span class="badge bg-primary"> {{ discoDuroLinea.componente.precio | number:'1.2-2'}}€</span></p>
        </div>
      </div>

      <div class="form-group row my-3">
        <label class="col-form-label col-md-2 offset-md-2" for="cajaTorre">
          Caja/Torre:
        </label>
        <div class="col-md-6">
          <input #cajaTorre="ngModel" [(ngModel)]="cajaTorreLinea.componente" class="form-control" id="cajaTorre"
                 list="list_cajaTorre" name="cajaTorre" placeholder="Seleccione una caja o torre" required
                 (change)="cajaTorreChange($event.target.value)">
          <datalist id="list_cajaTorre">
            <option *ngFor="let item of cajaTorreComps" [value]="item.id">{{item.nombre}} --- {{item.precio |
              number:'1.2-2'}}€
            </option>
          </datalist>
          <div *ngIf="cajaTorre.invalid && (cajaTorre.dirty || cajaTorre.touched)" class="alert alert-danger">
            <div *ngIf="cajaTorre.errors.required">
              Debe indicar la caja o torre.
            </div>
          </div>
        </div>
        <div class="col-md-2 text-center text-sm-left ml-1">
          <p *ngIf="cajaTorreLinea.componente != undefined">{{ cajaTorreLinea.componente.nombre }}
            | <span class="badge bg-primary"> {{ cajaTorreLinea.componente.precio | number:'1.2-2'}}€</span></p>
        </div>
      </div>

      <div class="form-group row my-3">
        <label class="col-form-label col-md-2 offset-md-2" for="ventilacion">
          Ventilación:
        </label>
        <div class="col-md-6">
          <input [(ngModel)]="ventilacionLinea.componente" class="form-control" id="ventilacion" list="list_ventilacion"
                 name="ventilacion" placeholder="Seleccione ventilación"
                 (change)="ventilacionChange($event.target.value)">
          <datalist id="list_ventilacion">
            <option *ngFor="let item of ventilacionComps" [value]="item.id">{{item.nombre}} --- {{item.precio |
              number:'1.2-2'}}€
            </option>
          </datalist>
        </div>
        <div class="col-md-2 text-center text-sm-left ml-1">
          <p *ngIf="ventilacionLinea.componente != undefined">{{ ventilacionLinea.componente.nombre }}
            | <span class="badge bg-primary"> {{ ventilacionLinea.componente.precio | number:'1.2-2'}}€</span></p>
        </div>
      </div>

      <div class="form-group row my-2 pt-3 text-end">
        <hr>
        <div class="col-md-11" *ngIf="ordenador.precioTotal > 0.01">
          <h5>PRECIO TOTAL: <span class="badge bg-danger">{{ordenador.precioTotal | number:'1.2-2'}}€</span></h5>
        </div>
      </div>
      <div class="form-group row my-3 pt-3 text-center">
        <div class="col-md-8 offset-sm-2">
          <button (click)="create()" [disabled]="!configuratorForm.form.valid" class="btn btn-success w-100"
                  role="button"><i class="fas fa-plus-circle"></i> Crear Ordenador!
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
