<h3>¡Configura tu PC!</h3>

<div class="card mt-3 mb-5">
  <div class="card-header bg-dark text-white">{{titulo}}</div>
  <div class="card-body">
    <form (ngSubmit)="checkForm()">
      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="placaBase">
          Placa Base:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="placaBaseLinea.componente" id="placaBase" name="placaBase" required>
            <option hidden selected value="undefined">Seleccione una placa base</option>
            <option *ngFor="let item of placaBaseComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="procesador">
          Procesador:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="procesadorLinea.componente" id="procesador" name="procesador" required>
            <option hidden selected value="undefined">Selecciona un procesador</option>
            <option *ngFor="let item of procesadorComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="tarjetaGrafica">
          Tarjeta Gráfica:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="tarjetaGraficaLinea.componente" id="tarjetaGrafica" name="tarjetaGrafica" required>
            <option hidden selected value="undefined">Selecciona una tarjeta gráfica</option>
            <option *ngFor="let item of tarjetaGraficaComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="memoriaRam">
          Memoria RAM:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="memoriaRamLinea.componente" id="memoriaRam" name="memoriaRam" required>
            <option hidden selected value="undefined">Selecciona una memoria RAM</option>
            <option *ngFor="let item of memoriaRamComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="fuenteAlim">
          Fuente de alimentación:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="fuenteAlimLinea.componente" id="fuenteAlim" name="fuenteAlim" required>
            <option hidden selected value="undefined">Selecciona una fuente de alimentación</option>
            <option *ngFor="let item of fuenteAlimComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="discoDuro">
          Disco Duro:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="discoDuroLinea.componente" id="discoDuro" name="discoDuro" required>
            <option hidden selected value="undefined">Selecciona un disco duro</option>
            <option *ngFor="let item of discoDuroComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="discoDuroSSD">
          Disco Duro SSD:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="discoDuroSSDLinea.componente" id="discoDuroSSD" name="discoDuroSSD" required>
            <option hidden selected value="undefined">Selecciona un disco duro SSD</option>
            <option *ngFor="let item of discoDuroSSDComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="cajaTorre">
          Caja/Torre:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="cajaTorreLinea.componente" id="cajaTorre" name="cajaTorre" required>
            <option hidden selected value="undefined">Selecciona una caja o torre</option>
            <option *ngFor="let item of cajaTorreComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="ventilacion">
          Ventilación:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="ventilacionLinea.componente" id="ventilacion" name="ventilacion">
            <option hidden selected value="undefined">Selecciona la ventilación:</option>
            <option *ngFor="let item of ventilacionComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="tarjetaSonido">
          Tarjeta de sonido:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="tarjetaSonidoLinea.componente" id="tarjetaSonido" name="tarjetaSonido">
            <option hidden selected value="undefined">Selecciona una tarjeta de sonido</option>
            <option *ngFor="let item of tarjetaSonidoComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="grabadoraDVD">
          Grabadora DVD/Bluray:
        </label>
        <div class="col-sm-6">
          <select [(ngModel)]="grabadoraDVDLinea.componente" id="grabadoraDVD" name="grabadoraDVD">
            <option hidden selected value="undefined">Selecciona una grabadora DVD/BluRay</option>
            <option *ngFor="let item of grabadoraDVDComps" value="{{item.id}}">
              {{item.nombre}} --- {{item.precio | number:'1.2-2'}}€
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row pt-2">
        <div class="col-sm-6 text-center">
          <button class="btn btn-primary" role="button">Crear Ordenador!</button>
        </div>
      </div>

    </form>
  </div>
</div>
