<h3 class="my-4 ms-4" id="bienvenido_h3"><img alt="Logo SMPComponentes" id="img_logo" src="/assets/logo.png">
  Bienvenido a
  SMPComponentes<span *ngIf="isLogin">, {{nombreUsuario}}</span></h3>

<div class="row row-cols-1 row-cols-md-3 my-4 px-3 justify-content-center">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Configura tu ordenador</h5>
        <p class="card-text">Puedes acceder a la configuración de tu ordenador pulsando aquí:</p>
        <p class="card-text text-center">
          <a class="btn btn-primary ms-3" [routerLink]="['/configurador']">
            <i class="fas fa-laptop-medical"></i> Configurar ordenador
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col" *ngIf="!isLogin">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Accede a tu cuenta o regístrate</h5>
        <p class="card-text">Accede a tu cuenta o registra una nueva cuenta con tu email, un usuario y una contraseña,
          no necesitas más datos!</p>
        <p class="card-text text-center">
          <a class="btn btn-success ms-3 mb-md-3 mb-xl-0" [routerLink]="['/login']">
            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
          </a>
          <a class="btn btn-warning ms-3" [routerLink]="['/registro']">
            <i class="fas fa-user-plus"></i> Crear cuenta
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Nuestros componentes</h5>
        <p class="card-text">Accede al listado de todos nuestros componentes haciendo click aquí: </p>
        <p class="card-text text-center">
          <a class="btn btn-danger ms-3" [routerLink]="['/componentes']">
            <i class="fas fa-microchip"></i> Ver nuestros componentes
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-12 col-lg-10 col-xl-8 col-xxl-7">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-interval="2500">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="/assets/slider/slider1.jpg" class="w-100 img_slider rounded" alt="Configura tu nuevo ordenador">
          <div class="carousel-caption d-block rounded p-3">
            <h5>¡Configura tu nuevo ordenador!</h5>
            <p>Realizar una configuración de tu nuevo ordenador está a un click. En nuestra página, usted podrá utilizar
              nuestro configurador para crear su próximo ordenador... ¡Incluso el de sus sueños!</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="d-block text-center">
            <img src="/assets/slider/slider2.jpg" class=" w-100 img_slider rounded" alt="Nuestros componentes">
          </div>
          <div class="carousel-caption d-block rounded p-3">
            <h5>¡Échale un vistazo a nuestros componentes!</h5>
            <p>Tenemos un gran número de componentes a su disposición para que pueda consultarlos y filtrar por
              diferentes
              opciones, adaptándonos a lo que usted esté buscando en el momento.</p>
          </div>
        </div>

        <div class="carousel-item active">
          <img src="/assets/slider/slider3.jpg" class="w-100 img_slider rounded" alt="Ventajas">
          <div class="carousel-caption d-block rounded p-3">
            <h5>¡Regístrate y disfruta de las ventajas!</h5>
            <p>Podrás configurar tu ordenador y consultar todas aquellas que has realizado anteriormente. Además, tu
              configuración podrá aparecer entre las más destacadas! Registrate haciendo click en el botón.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</div>




