<h3>Listado de todos los componentes</h3>

<div *ngIf="!componentes" class="alert alert-info">Cargando componentes...</div>

<div class="my-2 text-left">
  <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/componentes/form']">Crear
    Componente
  </button>
</div>

<div *ngIf="componentes?.length == 0" class="alert alert-danger">No existen componentes en la base de datos.</div>

<div *ngIf="componentes && componentes.length > 0" class="row row-cols-2 row-cols-md-6 g-4">
  <div *ngFor="let componente of componentes" class="col">
    <div class="card h-100">
      <p class="card-text text-end p-2">
        <span class="badge bg-success">
          {{componente.precio | number:'1.2-2'}}€
        </span>
      </p>
      <img alt="Imagen {{componente.nombre}}" class="card-img-top" src="{{componente.imagen}}">
      <div class="card-body">
        <h5 class="card-title">{{componente.nombre}}</h5>
        <hr>
        <p class="card-text">Categoría: <a
          [routerLink]="['/componentes/categoria', componente.categoria.id]">{{componente.categoria.nombre}}</a>
        </p>
        <p class="card-text">Fabricante: <a
          [routerLink]="['/componentes/fabricante', componente.fabricante.id]">{{componente.fabricante.nombre}}</a>
        </p>
      </div>
      <div class="card-footer">
        <p class="card-text text-center p-1">
          <a class="btn btn-primary text-white" href="{{componente.url}}" target="_blank">
            <i aria-hidden="true" class="fa fa-info-circle"></i> Más información</a>
        </p>
        <div class="row text-center">
          <hr>
          <div class="col-6">
            <button type="button" name="editar" class="btn btn-primary w-100"
                    [routerLink]="['/componentes/form', componente.id]">Editar
            </button>
          </div>
          <div class="col-6">
            <button type="button" name="eliminar" class="btn btn-danger w-100"
                    (click)="delete(componente.id)">Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
