<footer class="footer bg-dark py-3 mt-3 text-center">
  <div class="container mb-3">
    <div class="row justify-content-center text-center">
      <div class="col-2 social-network social-circle">
        <a class="icoTwitter" href="https://twitter.com/smpcomponentes" target="_blank" title="Twitter">
          <i class="fab fa-twitter icono"></i>
        </a>
      </div>
      <div class="col-2 social-network social-circle">
        <a class="icoInstagram" href="https://www.instagram.com/smpcomponentes" target="_blank" title="Instagram">
          <i class="fab fa-instagram icono"></i>
        </a>
      </div>
      <div class="col-2 social-network social-circle">
        <a class="icoFacebook" href="https://www.facebook.com/smpcomponentes" target="_blank" title="Facebook">
          <i class="fab fa-facebook icono"></i>
        </a>
      </div>
      <div class="col-2 social-network social-circle">
        <a class="icoLinkedin" href="https://www.linkedin.com/in/smpcomponentes" target="_blank" title="Linkedin">
          <i class="fab fa-linkedin icono"></i>
        </a>
      </div>
      <div class="col-2 social-network social-circle">
        <a class="icoEmail" href="mailto:contacto@smpcomponentes.com" title="Email">
          <i class="fas fa-envelope icono"></i>
        </a>
      </div>
    </div>
  </div>
  <a class="text-white my-auto autor" href="https://linkedin.com/in/smarquezp05"
     target="_blank">©{{autor.anio}} {{autor.nombre}} </a>
</footer>
