<h3 *ngIf="fabricante">Componentes del fabricante '{{fabricante.nombre}}'</h3>

<div *ngIf="!componentes" class="alert alert-info">Cargando...</div>

<div *ngIf="componentes?.length == 0" class="alert alert-danger">No existen componentes en la base de datos.</div>

<div *ngIf="componentes && componentes.length > 0" class="row row-cols-2 row-cols-md-5 g-4">
  <div *ngFor="let componente of componentes" class="col">
    <div class="card h-100">
      <p class="card-text text-end p-2">
        <span class="badge bg-success">
          {{componente.precio | number:'1.2-2'}}€
        </span>
      </p>
      <img alt="Imagen {{componente.nombre}}" class="card-img-top" height="200px" src="{{componente.imagen}}">
      <div class="card-body">
        <h5 class="card-title">{{componente.nombre}}</h5>
        <hr>
        <p class="card-text">Categoría: <a
          [routerLink]="['/componentes/categoria', componente.categoria.id]">{{componente.categoria.nombre}}</a>
        </p>
      </div>
      <div class="card-footer">
        <p class="card-text text-center p-1">
          <a class="btn btn-primary text-white" href="{{componente.url}}" target="_blank">
            <i aria-hidden="true" class="fa fa-info-circle"></i> Más información</a>
        </p>
      </div>
    </div>
  </div>
</div>
